body {
    background-color: #e7ded9;
    padding: 20px;
    font-family: 'Lora', serif;
    font-size: 15px;
    margin-left: 85px;
    margin-right: 50px;

}
/* font-family: 'Lora', serif;
font-family: 'Raleway', sans-serif; */
.container {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    grid-gap: 60px;
}
/* name */

.name-title {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    text-align: center;
    font-weight: normal;
    background: #aba3a0;
    border-radius: 5px;
    /* background: radial-gradient(circle,rgba(171,163,160, 0.3)5%,rgba(226,226,226,0.5)99%);
    line-height: 2; */
    margin-bottom: -40px;
}

.name-occupation {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.skills-title,
.bio-title,
.education-title,
.jobs-title {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-weight: normal;
    text-align: justify;
    line-height: 2;
    margin-bottom: 20px;
    padding-bottom: -8px;
    padding-top: -10px;
}

/* bio */
.bio-description {
    text-align: justify;
}

/* education & jobs */

.jobs-occupation,
.education-degree {
    color: #2a2a2a;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: -15px;
    margin-top: -10px;
}

.jobs-time,
.education-time {
    color: #828282;
    font-size: 13px;
    line-height: 2;
    margin-top: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.experience-item {
    color: #595959;
    font-size: 14px;
    line-height: 1.714;
    margin-bottom: -5px;
    margin-top: 0px;
}

.accent {
  color: #7e6752;
}

/* skills */
.skills {
    text-align: center;
}

.skills-item {
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 50px;
    margin-bottom: 4px;
    background:#aba3a0;
    border-radius: 5px;
}
.skills-list {
    list-style: none;
    padding-top: -10px;
    padding-bottom: 15px;
}

.skills-item::before {
    content: "\2022";
    margin-right: 8px;
    color: #aba3a0;
    font-size: 18px;
}

/* contact */

.contact {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: center;
    border-top: solid;
    border-width: 4px;
    border-color: #988780;
    padding-top: 10px;
    padding-bottom: 15px;
}

.contact-item {
    display: inline;
    padding-left: 40px;
    padding-right: 20px;
}

.contact-link {
    margin: auto;
    color: #aba3a0;
    text-decoration: none;
}

.contact-link:hover {
    color: #7e6752;
    text-decoration: underline;
}